<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Por default los beans son singleton -->
    <bean id="messageService" class="org.example.services.MessageService" />
    <bean id="helloService" class="org.example.services.HelloService" />

</beans>